doctype html

html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(name='description' content='forms authentication')
        meta(name='keywords' content='forms authentication')

        title forms authentication

        link(rel='shortcut icon' href='images/favicon.ico')
        link(rel='stylesheet' href='stylesheets/dest/index.min.css')

    body
        block content
        script(src='javascript/dest/index.min.js')
