doctype html

html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(name='description' content='Jimmy resume')
        meta(name='keywords' content='Jimmy resume')
        meta(name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0')

        title Jimmy's resume

        link(rel='stylesheet' href='stylesheets/dest/normalize.css')
        link(rel='stylesheet' href='stylesheets/dest/Font-Awesome/css/font-awesome.min.css')
        link(rel='stylesheet' href='stylesheets/dest/resume.min.css')

    body
        block content
