doctype html

html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(name='description' content='log in or register')
        meta(name='keywords' content='log in,register')

        title LogIn/Register

        link(rel='shortcut icon' href='images/favicon.ico')
        link(rel='stylesheet' href='stylesheets/dest/lm.min.css')

    body
        block content
        script(src='javascript/dest/lm.min.js')
