doctype html

html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(name='description' content='jimmy intro')
        meta(name='keywords' content='jimmy,intro')
        meta(name='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0')

        title intro

        link(rel='stylesheet' href='stylesheets/dest/normalize.css')
        link(rel='stylesheet' href='stylesheets/dest/Font-Awesome/css/font-awesome.min.css')
        link(rel='stylesheet' href='stylesheets/dest/intro.min.css')

    body
        block content
        script(src='javascript/dest/intro.min.js')
