extends ./layoutlm.jade

block content
    .header
        .bg-enter
        .container
            ul
                li
                    a(href='/') HOME
            h2#scaleHead Leave a Message
    .content
        .container
            .form
                form
                    div
                        label(for='name') Name:
                        input(type='text' id='name' name='name' class='form-control' placeholder='Your name' )
                        span(id='nameIndication') 请输入汉字、字母、数字、下划线
                        span(id='nameCnt') 0个字符(汉字算两个字符)
                    div
                        label(for='comment') Comment:
                        textarea(id='comment' name='comment' class='form-control' placeholder='Say something...')
                        span(id='commentIndication') 请输入不超过250个字符，汉字算两个字符
                        span(id='commentCnt') 0个字符(汉字算两个字符)
                    div
                        input(type='submit' value='Submit')

            .comment.cel-hide
                .comment-avatar
                    a(href='#')
                        img(alt='设计达人' src='http://tp3.sinaimg.cn/1750584642/50/5612846168/1')
                .comment-body
                    a(href='#' class='user-name') 设计达人
                    p "是不是上了5天班了？"、"以为是周末了？"、"今天才周三，哈哈！"。
                    p "是不是要考试啦？"、"还没复习吧？"、"等死吧，哈哈哈哈"。
                    p "在公司坐了一上午了吧"、"忙得没时间吃午饭吧？"、"我已经吃过了，哈哈哈哈！"
                    .comment-body-footer
                        time 2015年12月28日
            .comment.cel-hide
                .comment-avatar
                    a(href='#')
                        img(alt="设计达人" src="http://tp3.sinaimg.cn/1750584642/50/5612846168/1")
                .comment-body
                    a(href='#' class='user-name') 设计达人
                    p "是不是上了5天班了？"、"以为是周末了？"、"今天才周三，哈哈！"。
                    p "是不是要考试啦？"、"还没复习吧？"、"等死吧，哈哈哈哈"。
                    p "在公司坐了一上午了吧"、"忙得没时间吃午饭吧？"、"我已经吃过了，哈哈哈哈！"
                    .comment-body-footer
                        time 2015年12月28日
            .comment.cel-hide
                .comment-avatar
                    a(href='#')
                        img(alt="设计达人" src="http://tp3.sinaimg.cn/1750584642/50/5612846168/1")
                .comment-body
                    a(href='#' class='user-name') 设计达人
                    p "是不是上了5天班了？"、"以为是周末了？"、"今天才周三，哈哈！"。
                    p "是不是要考试啦？"、"还没复习吧？"、"等死吧，哈哈哈哈"。
                    p "在公司坐了一上午了吧"、"忙得没时间吃午饭吧？"、"我已经吃过了，哈哈哈哈！"
                    .comment-body-footer
                        time 2015年12月28日
            .comment.cel-hide
                .comment-avatar
                    a(href='#')
                        img(alt="设计达人" src="http://tp3.sinaimg.cn/1750584642/50/5612846168/1")
                .comment-body
                    a(href='#' class='user-name') 设计达人
                    p "是不是上了5天班了？"、"以为是周末了？"、"今天才周三，哈哈！"。
                    p "是不是要考试啦？"、"还没复习吧？"、"等死吧，哈哈哈哈"。
                    p "在公司坐了一上午了吧"、"忙得没时间吃午饭吧？"、"我已经吃过了，哈哈哈哈！"
                    .comment-body-footer
                        time 2015年12月28日
            .comment.cel-hide
                .comment-avatar
                    a(href='#')
                        img(alt="设计达人" src="http://tp3.sinaimg.cn/1750584642/50/5612846168/1")
                .comment-body
                    a(href='#' class='user-name') 设计达人
                    p "是不是上了5天班了？"、"以为是周末了？"、"今天才周三，哈哈！"。
                    p "是不是要考试啦？"、"还没复习吧？"、"等死吧，哈哈哈哈"。
                    p "在公司坐了一上午了吧"、"忙得没时间吃午饭吧？"、"我已经吃过了，哈哈哈哈！"
                    .comment-body-footer
                        time 2015年12月28日
