doctype html

html(lang='zh-CN')
    head
        meta(charset='utf-8')

        title test

        link(rel='stylesheet' href='stylesheets/dest/test.min.css')

    body
        .main-wrapper
            .content
                .content-back
                    .content-back-left
                        img(src='image/people.png' alt='people')
                    .content-back-right
                        .content-back-right-text
                            h1 体检自助服务终端
                            h2 MEDICAL SELF-SERVICE TERMINAL
                .content-boxes
                    .content-boxes-one.box
                        .content-boxes-text
                            h3 体检预约
                            p 通过检前问诊
                            p 在线预约个人体检
                    .content-boxes-two.box
                        .content-boxes-text
                            h3 打印指引单
                            p 已网上预约体验
                            p 直接打印体验指引单
                    .content-boxes-three.box
                        .content-boxes-text
                            h3 填写生活问卷
                            p 已打印体验指引单
                            p 填写生活调查问卷
            .footer
                p 51健康体检提供技术支持 服务热线: 400-8751851
