<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="forms authentication">
    <meta name="keywords" content="forms authentication">
    <title>forms authentication</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/dest/index.min.css">
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="logo">
          <h2><a href="#" title="xiaomin">Xiaomin</a><span>'s zone</span></h2>
        </div>
        <h2>小前端，永不止步</h2>
      </div>
    </div>
    <div class="navigation">
      <div class="container">
        <ul>
          <li><a href="#" title="home page" class="active">Home</a></li>
          <li><a href="/lm" title="leave a message">LeaveMessages</a></li>
        </ul>
      </div>
    </div>
    <div class="content clearfix">
      <div class="container">
        <div class="main">
          <div class="article">
            <div class="head"> 
              <h2>如何快速的掌握一门新技术</h2>
            </div>
            <div class="meta"><span>作者: 谷俊民</span>&bull;
              <time>12/27/2015</time>
            </div>
            <div class="con"><ul>
<li><p>宏观了解</p>
<ul>
<li>知道是什么</li>
<li>知道可以用来做什么</li>
<li>没有之前是怎么解决的</li>
</ul>
</li>
<li><p>实践出真知</p>
<ul>
<li>在官网或者某个入门级别的教程中找个小 demo 随便玩玩，对其玩法有个大概的了解</li>
<li>用来解决实际的问题，遇到一个解决一个，慢慢的就会越来越了解这门技术</li>
</ul>
</li>
<li><p>深入学习</p>
<ul>
<li>如果需要并且有足够的时间，就可以多看些书并做些分享，写一些博文</li>
</ul>
</li>
</ul>

            </div>
          </div>
        </div>
        <div class="aside">
          <div class="widget">
            <h4>作者简介</h4>
            <div class="intro">
              <ul>
                <li>姓名: 谷俊民</li>
                <li>性别: 男</li>
                <li>职位: 小前端</li>
                <li>性格: 温和</li>
                <li>特点: 酷爱编码，小小屌丝形象</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container clearfix">
        <h2>友情链接</h2>
        <ul>
          <li><a href="#">亚里士朱德</a></li>
          <li><a href="#">e纯</a></li>
          <li><a href="#">小葵</a></li>
          <li><a href="#">小刚</a></li>
          <li><a href="#">贝哥</a></li>
          <li><a href="#">康康</a></li>
          <li><a href="#">taevas</a></li>
        </ul>
        <div class="contact">
          <p><a href="#">Github</a></p>
          <p>QQ: 3013366498</p>
          <p>email: 3013366498@qq.com</p>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div>Copyright &copy; Jimmy All Rights Reserved</div>
        </div>
      </div>
    </div>
    <script src="javascript/dest/index.min.js"></script>
  </body>
</html>