<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="log in or register">
    <meta name="keywords" content="log in,register">
    <title>LogIn/Register</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/dest/lm.min.css">
  </head>
  <body>
    <div class="header">
      <div class="bg-enter"></div>
      <div class="container">
        <ul>
          <li><a href="/">HOME</a></li>
        </ul>
        <h2 id="scaleHead">Leave a Message</h2>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="form">
          <form>
            <div>
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" placeholder="Your name" class="form-control"><span id="nameIndication">请输入汉字、字母、数字、下划线</span><span id="nameCnt">0个字符(汉字算两个字符)</span>
            </div>
            <div>
              <label for="comment">Comment:</label>
              <textarea id="comment" name="comment" placeholder="Say something..." class="form-control"></textarea><span id="commentIndication">请输入不超过250个字符，汉字算两个字符</span><span id="commentCnt">0个字符(汉字算两个字符)</span>
            </div>
            <div>
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
        <div class="comment cel-hide">
          <div class="comment-avatar"><a href="#"><img alt="设计达人" src="http://tp3.sinaimg.cn/1750584642/50/5612846168/1"></a></div>
          <div class="comment-body"><a href="#" class="user-name">设计达人</a>
            <p>"是不是上了5天班了？"、"以为是周末了？"、"今天才周三，哈哈！"。</p>
            <p>"是不是要考试啦？"、"还没复习吧？"、"等死吧，哈哈哈哈"。</p>
            <p>"在公司坐了一上午了吧"、"忙得没时间吃午饭吧？"、"我已经吃过了，哈哈哈哈！"</p>
            <div class="comment-body-footer">
              <time>2015年12月28日</time>
            </div>
          </div>
        </div>
        <div class="comment cel-hide">
          <div class="comment-avatar"><a href="#"><img alt="设计达人" src="http://tp3.sinaimg.cn/1750584642/50/5612846168/1"></a></div>
          <div class="comment-body"><a href="#" class="user-name">设计达人</a>
            <p>"是不是上了5天班了？"、"以为是周末了？"、"今天才周三，哈哈！"。</p>
            <p>"是不是要考试啦？"、"还没复习吧？"、"等死吧，哈哈哈哈"。</p>
            <p>"在公司坐了一上午了吧"、"忙得没时间吃午饭吧？"、"我已经吃过了，哈哈哈哈！"</p>
            <div class="comment-body-footer">
              <time>2015年12月28日</time>
            </div>
          </div>
        </div>
        <div class="comment cel-hide">
          <div class="comment-avatar"><a href="#"><img alt="设计达人" src="http://tp3.sinaimg.cn/1750584642/50/5612846168/1"></a></div>
          <div class="comment-body"><a href="#" class="user-name">设计达人</a>
            <p>"是不是上了5天班了？"、"以为是周末了？"、"今天才周三，哈哈！"。</p>
            <p>"是不是要考试啦？"、"还没复习吧？"、"等死吧，哈哈哈哈"。</p>
            <p>"在公司坐了一上午了吧"、"忙得没时间吃午饭吧？"、"我已经吃过了，哈哈哈哈！"</p>
            <div class="comment-body-footer">
              <time>2015年12月28日</time>
            </div>
          </div>
        </div>
        <div class="comment cel-hide">
          <div class="comment-avatar"><a href="#"><img alt="设计达人" src="http://tp3.sinaimg.cn/1750584642/50/5612846168/1"></a></div>
          <div class="comment-body"><a href="#" class="user-name">设计达人</a>
            <p>"是不是上了5天班了？"、"以为是周末了？"、"今天才周三，哈哈！"。</p>
            <p>"是不是要考试啦？"、"还没复习吧？"、"等死吧，哈哈哈哈"。</p>
            <p>"在公司坐了一上午了吧"、"忙得没时间吃午饭吧？"、"我已经吃过了，哈哈哈哈！"</p>
            <div class="comment-body-footer">
              <time>2015年12月28日</time>
            </div>
          </div>
        </div>
        <div class="comment cel-hide">
          <div class="comment-avatar"><a href="#"><img alt="设计达人" src="http://tp3.sinaimg.cn/1750584642/50/5612846168/1"></a></div>
          <div class="comment-body"><a href="#" class="user-name">设计达人</a>
            <p>"是不是上了5天班了？"、"以为是周末了？"、"今天才周三，哈哈！"。</p>
            <p>"是不是要考试啦？"、"还没复习吧？"、"等死吧，哈哈哈哈"。</p>
            <p>"在公司坐了一上午了吧"、"忙得没时间吃午饭吧？"、"我已经吃过了，哈哈哈哈！"</p>
            <div class="comment-body-footer">
              <time>2015年12月28日</time>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="javascript/dest/lm.min.js"></script>
  </body>
</html>