<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Jimmy resume">
    <meta name="keywords" content="Jimmy resume">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>Jimmy's resume</title>
    <link rel="stylesheet" href="stylesheets/dest/normalize.css">
    <link rel="stylesheet" href="stylesheets/dest/Font-Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/dest/resume.min.css">
  </head>
  <body>
    <div class="container">
      <section class="biography-section">
        <header>
          <h2>谷俊民/个人简历</h2>
        </header>
        <ul>
          <li>个人信息: 男/1996/本科/大二</li>
          <li>Github: github.com/SPxiaomin</li>
          <li>Blog: spxiaomin.github.io</li>
          <li>求职意向: Web前端相关开发</li>
          <li>联系方式: 
            <ul>
              <li>wechat: 13637328539</li>
              <li>QQ: 3013366498</li>
              <li>email: 3013366498@qq.com</li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="award-section">
        <h2>获奖经历/任职</h2>
        <ul>
          <li>2015年度学习优秀奖</li>
          <li>2015年度优秀共青团员奖</li>
        </ul>
      </section>
      <section class="skill-section">
        <h2>技能清单</h2>
        <ul>
          <li><code>JavaScript</code>
            <ul>
              <li>熟悉ES5(ES6有所涉猎，能够看得懂代码)</li>
              <li>熟悉DOM/BOM</li>
            </ul>
          </li>
          <li><code>html(jade)/css(less)</code>
            <ul>
              <li>能够进行PSD还原，并尽可能编写符合语义和模块化的代码</li>
            </ul>
          </li>
          <li><code>node(express)</code>
            <ul>
              <li>能够使用node或express进行路由处理,数据库连接等操作</li>
            </ul>
          </li>
          <li><code>框架</code>
            <ul>
              <li>熟悉jQuery</li>
              <li>熟悉Angular\React</li>
              <li>能够使用Bootstrap进行响应式布局</li>
            </ul>
          </li>
          <li><code>tool</code>
            <ul>
              <li>Ubuntu
                <ul>
                  <li>熟悉linux，并能够根据需要进行配置</li>
                </ul>
              </li>
              <li>vim
                <ul>
                  <li>熟悉使用vim进行编码，并根据需要编写vimrc和安装插件</li>
                </ul>
              </li>
              <li>gulp
                <ul>
                  <li>能够熟练的使用gulp进行jade、less文件转换/javascript代码检测、阅读过jshint官方文档大部分</li>
                  <li>grunt、bower、webpack有所涉猎</li>
                </ul>
              </li>
              <li>chrome
                <ul>
                  <li>能够翻过GFW查找资料</li>
                  <li>熟悉元素样式分析、js断点调试等常用操作</li>
                </ul>
              </li>
              <li>ps/assistor ps/cssSprit
                <ul>
                  <li>能够使用进行psd的还原</li>
                </ul>
              </li>
              <li>git/github
                <ul>
                  <li>能够进行合作</li>
                </ul>
              </li>
            </ul>
          </li>
          <li><code>算法</code>
            <ul>
              <li>基础算法水平，半年ACM经验，熟悉常用的数据结构</li>
            </ul>
          </li>
          <li><code>学习能力</code>
            <ul>
              <li>比较强的自学能力，比如说大二上学期的时候，一学期内自学计算机网络、学习鸟哥的linux私房菜等等，并且花大量的时候撸代码，但依然保持学业成绩优良</li>
            </ul>
          </li>
          <li><code>英文文档阅读能力</code>
            <ul>
              <li>扎实的英文语法功底，曾疯狂的迷恋过李阳老师，CET6(阅读分数: 222/248.5)</li>
              <li>阅读过express4.x官方文档，jshint官方文档大部分，chrome插件官方文档大部分，jade官方文档，less官方文档大部分，React官方文档大部分，Angular官方文档部分等，理解程度80%~99.999999%，阅读过英文原版Eloquent Javascript书籍</li>
            </ul>
          </li>
          <li>持续关注新技术的发展(开发者头条，前端早读课等)</li>
        </ul>
      </section>
      <section class="growth-section">
        <h2>学习经历&项目经验</h2>
        <h3>大二上</h3>
        <ul>
          <li>学习:
            <ul>
              <li>jade/less</li>
              <li>css3动画/深入学习css</li>
              <li>深入学习js</li>
              <li>学习Angular/React</li>
              <li>gulp/grunt/bower/webpack</li>
              <li>ps/Assistor ps/cssSprit工具</li>
              <li>深入学习linux</li>
              <li>自学计算机网络/操作系统</li>
            </ul>
          </li>
          <li>自己独立完成了一个 chrome <a href='https://github.com/SPxiaomin/youdao-chrome-extension' target='_blank'>划词翻译插件</a>，获得1star，1fork</li>
          <li>把<a href='https://github.com/SPxiaomin/layoutPractice/tree/master/w3school' target='_blank'>w3school</a> 的主页面抄了下来，并掌握了所有内容</li>
          <li>不借助框架，根据imooc教程搭建扁平化风格博客</li>
          <li>react+webpack+node+mongo搭建<a href='https://github.com/SPxiaomin/MessageBoard' target='_blank'>留言版</a>，获得3star，1fork</li>
          <li>Angular+Bootstrap搭建简单的<a href='https://github.com/SPxiaomin/plan-SPA' target='_blank'>SPA应用</a>，获得6star，4fork</li>
          <li>在前辈的带领下进行自助终端系统PSD页面的还原</li>
        </ul>
        <h3>大一下</h3>
        <ul>
          <li>学习:
            <ul>
              <li>python(flask)</li>
              <li>html/css</li>
              <li>js/jQuery</li>
              <li>Bootstrap</li>
              <li>node</li>
              <li>mysql/mongo</li>
              <li>进入ACM集训队，学得基础算法</li>
              <li>学习数据结构，基本掌握</li>
            </ul>
          </li>
          <li>使用python(flask)+mysql+jQuery搭建<a href='http://2.gujunmin.sinaapp.com/' target="_blank">第一个博客</a></li>
          <li>使用python基于抓取有道的数据，写了个<a href='http://2.gujunmin.sinaapp.com/dic/' target="_blank">网页版字典</a></li>
          <li>使用python(flask)建立<a href='https://github.com/SPxiaomin/Vbo' target="_blank">微博系统</a>，简单的登陆/注册，两张数据库表，发表动态，检索等 </li>
          <li>使用Bootstrap搭建<a href='http://gujunmin.sinaapp.com/' target="_blank">第一个响应式博客</a></li>
          <li>学习node/express4.x并完成了一些<a href='https://github.com/SPxiaomin/NodeLearn' target="_blank">练习</a>，获得6star，3fork</li>
        </ul>
        <h3>大一上</h3>
        <ul>
          <li>零基础开始接触编程，学习c语言，打下了扎实的编码功底</li>
          <li>接触linux并学习在其环境下运行、调试c程序</li>
          <li>学习python</li>
        </ul>
      </section>
      <section class="thank-section">
        <h2>致谢</h2>
        <p>感谢您花时间阅读我的简历，期待能有机会和您共事～</p>
      </section>
    </div>
  </body>
</html>
